<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${error}" style="color:red">[[${error}]]</div>
<div th:if="${message}" style="color:green">[[${message}]]</div>
<form th:action="@{/login}" method="post">
    <label>Username: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <button type="submit">Login</button>
</form>
<p>New user? <a th:href="@{/register}">Register</a></p>
</body>
</html>
